GridBackground#AgentGraphBackground
{
	--grid-background-color: var(--graph-colors-grid-light-grey-1);
	--line-color: var(--graph-colors-grid-light-grey-2);
	--thick-line-color: var(--graph-colors-grid-light-grey-3);
	--spacing: var(--graph-metrics-grid-25);
}

.PreviewWindow *
{
	font-size: 12px;
}

.Validated * .Invalid {
	background-color: rgba(255, 0, 0, 0.5);
}

#validation-data {
	display: none;
}

.Validated * .Invalid #validation-data {
	display: flex;
}